@import '../../variables.scss';

.c-side-bar {
	max-height: 100%;
	height: 100vh;
	padding: 10px;
	background-color: $secondary-bg-color;

	@media screen and (max-width: 639px) {
		height: auto;
	}
}
